.repo-item {
  margin-bottom: 2em;
  display: flex;
  align-items: start;

  .repo-stats {
    margin: 0 1em 0 0;

    .stat {
      display: flex;
      margin-bottom: .5em;

      label {
        margin-left: .25em;
      }

      .stat-icon {
        height: 1.2em;
        margin-top: .15em;
      }
    }
  }

  .repo-info {
    p {
      margin: 0;
    }

    .repo-title {
      margin: 0 0 .25em 0;
    }
  }
}

